<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "dev.potatoo.travel.repository.TravelMapper">
	
	<select id = "checkArea" resultType = "CheckArea">
		select location,area from area where area = 'Y';
	</select>
	
	<update id="updateArea" parameterType="Location">
		update area set area = #{update} where location = #{location}; 
	</update>
	
	<insert id= "insertArea" parameterType="java.util.List">
		<!-- 파라미터에 도시이름 넣기 -->
		insert into area (location,area)
			values
		<foreach item="item" separator="," collection="list">
			( #{item} ,'N')
		</foreach>
	</insert>
</mapper>