<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "dev.potatoo.travel.repository.TravelMapper">
	<select id = "checkArea" resultType = "CheckArea">
		select location,area from area;
	</select>
	
	<insert id= "insertArea" resultType = "Integer">
		<!-- 파라미터에 도시이름 넣기 -->
		
	</insert>
	
	
	
	
</mapper>